@model Msmq.OnlineShop.ViewModels.ProductViewModel

@{
    ViewBag.Title = "PlaceOrder";
}

<fieldset>
    <legend>Place new order (currently: 8 in stock)</legend>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" style="margin-right: 4px;"/>
                    @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-default"})
                </div>
            </div>
        </div>
    }

</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
